.carousel-caption {
    color: #000!important;
    text-align: center;
    top: 30%;
    left: 15%;
}
.carousel-indicators [data-bs-target] {
    background-color: #000!important;
}
input {
    border-radius: 15px;
    background-color: white;
    border: none;
    display: inline-block;
    width: 34%;
    position: relative;
    padding: 10px 15px;
    text-align: center;
}
input:focus{
    outline: none;
}
.Searcbtn {
    border: none;
    background: #f91944;
    color: #fff;
    padding: 9px 21px;
    border-radius: 15px;
    /* margin-right: 0px; */
    position: absolute;
    left: 63%;
}