.carousel-caption {
    color: #000!important;
    text-align: center;
    top: 30%;
    left: 15%;
}
.carousel-indicators [data-bs-target] {
    background-color: #000!important;
}
input {
    border-radius: 15px;
    background-color: white;
    border: none;
    display: inline-block;
    width: 34%;
    position: relative;
    padding: 10px 15px;
    text-align: center;
}
.bannarImg{
    width: 100%;
}
input:focus{
    outline: none;
}
.Searcbtn {
    border: none;
    background: #f91944;
    color: #fff;
    padding: 9px 21px;
    border-radius: 15px;
    /* margin-right: 0px; */
    position: absolute;
    left: 63%;
 }
 
/* @media only screen  and (min-width:361px) and (max-width: 768px){
    html,body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    .carousel-indicators {

        top: 93%;
        left: 0;
     
    }
    .bannarImg {
        width: 120%!important;
    }
    .Searcbtn {
        left: 75%;
    }
    input {
        width: 61%;
    }
}
@media only screen  and (max-width: 360px){
    html,body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    .carousel-indicators {

        top: 93%;
        left: 0;
     
    }
    .bannarImg {
        width: 215%!important;
    }
    .Searcbtn {
        left: 75%;
    }
    input {
        width: 61%;
    }
} */
