img {
    width: 200px;
}
.profileimg{
    width: 31px;
    border-radius: 50%;
    border:1px solid #ddd;
}

a.signup.nav-link {
    background-color: #F91944;
    border-radius: 15px;
    width: 93px;
   
    margin-left: 24px;
    text-align: center;
  
    color:  white !important;
  
    display: inline-block;
}
